html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
    color: #cccccc;
    background: #222222;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}


